.card-highlight {
  background-color: var(--brand-primary-color);
  border-radius: 10px;
  padding: 25px 0;
  position: relative;
  margin-bottom: 11px;

  .card-highlight-img {
    border-bottom: 1px solid var(--white-color);
    border-top: 1px solid var(--white-color);
    // max-height: 254px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .card-highlight-button {
    position: absolute;
    top: 180px;
    right: 14;
    z-index: 1;
  }
}

.card-highlight-content {
  p {
    color: var(--text-clear-faded-color);
    font-family: "Switzer";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 11px;

    @media (min-width: 768px) {
      font-size: 22px;
    }

    @media (min-width: 992px) {
      font-size: 36px;
    }
  }
  padding: 24px 7px 90px;

  @media (min-width: 768px) {
    padding: 24px 7px 50px;
  }

  @media (min-width: 992px) {
    padding: 24px 7px 110px;
  }
}

.card-highlight-informations {
  p.card-highlight-writter {
    color: var(--white-color);
    font-family: "Switzer";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

    @media (min-width: 768px) {
      font-size: 13px;
    }

    @media (min-width: 992px) {
      font-size: 24px;
    }
  }

  .card-highlight-date,
  .card-highlight-hour {
    color: var(--text-clear-faded-color);
    font-family: "Switzer";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

    @media (min-width: 768px) {
      font-size: 13px;
    }

    @media (min-width: 992px) {
      font-size: 24px;
    }
  }

  .card-highlight-hour {
    font-style: italic;
    margin-left: 9px;
  }
}

.card-highlight-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 7px;

  .card-highlight-time {
    display: flex;
    flex-direction: row;
  }
}

.card-highlight-mini-container {
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}

// .card-highlight-mini-container :last-child {
//   margin-top: 11px;
//   @media (min-width: 768px) {
//     margin-left: 11px;
//   }

//   @media (min-width: 992px) {
//     margin-top: 11px;
//   }
// }

.card-highlight.card-highlight-mini {
  display: flex;
  flex-direction: row;
  padding: 0 7px;
  // margin-bottom: 11px;

  // .card-highlight-img {
  //   max-width: 70px;
  //   height: 100%;
  //   object-fit: cover;
  //   border-left: 1px solid var(--white-color);
  //   border-right: 1px solid var(--white-color);
  //   border-bottom: none;
  //   border-top: none;
  // }
  .card-highlight-content {
    padding: 0 0 20px 7px;
  }
}

.card-publicite {
  padding: 25px;
  background-color: var(--text-faded-color);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  p {
    color: var(--white-color);
    font-family: "Switzer";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }
}

.card-highlight-economy-section {
  background-color: var(--economy-blog-color);
}

.card-economy {
  background-color: var(--economy-blog-color);
}
.card-highlight.card {
  position: relative;

  .card-button {
    position: absolute;
    top: 350px;
  }
  // .card-img {
  //   max-height: 206px;
  //   width: 100%;
  //   object-fit: cover;
  // }

  .card-highlight-informations {
    padding: 11px 11px 0;
  }

  h4 {
    margin-top: 20px;
  }

  .card-highlight-content.card-content {
    padding-bottom: 0;
  }
}

.card-highlight-swiss-section,
.card-swiss {
  background-color: var(--swiss-blog-color);
  h3 {
    color: var(--black-color);
  }

  h4 {
    color: var(--black-color);
  }

  p {
    color: var(--text-faded-color);
  }

  img.card-highlight-swiss-section {
    border-bottom: 1px solid var(--black-color);
    border-top: 1px solid var(--black-color);
  }
  p.card-highlight-writter {
    color: var(--black-color);
  }

  .card-highlight-date,
  .card-highlight-hour {
    color: var(--text-faded-color);
  }
}
